body{
    background-color: rgb(27, 28, 28);
    color: white;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Intentando que el sitio sea responsivo
    pero no pude jaja
    
.img{
    max-height: 250px !important;
}

@media (min-width:993px) and (max-width:1170px){
    .img{
        font-size: 0.9rem !important;
    }
    /*n cantidad de css*/
